<h1><%= entry.title%></h1>

<%if session[:login] == "jap" then%>
	Beitrag : 
	<%=link_to "Bearbeiten","/entries/edit/#{entry.id}"%>
	<%=link_to "Löschen","/entries/rem/#{entry.id}"%>
<%end%>
<p>
	<%=raw entry.content%>
</p>

<hr align="bottom">
<font align="top" size="2" color=#000>by: <%= Author.find(entry.author_id).name%> @ <%t = entry.created_at.getlocal%><%=sprintf("%02d.%02d.%d",t.day,t.month,t.year)%></font>

