
<h3><%=@author.name%></h3>
<br />
<% if session[:au_id] == @a_id then %>
<%=link_to "Passwort ändern","/authors/change_pw/#{@a_id}"%>
<% end%>
<p>
	<!--
	<ul>
		<%@a_entries.each do |entry|%>
		<li>
			<strong><%=link_to entry.title,"entry/read/#{entry.id}",:class => "title_link"%></strong><%=raw "&nbsp"*4%>a
			<p>
			<%=raw entry.preview%>
			</p>
			<%end%>
		</li>		
	</ul>
	-->
	
	<strong>Beiträge : </strong>
	<table>
		<%@a_entries.each do |entry|%>
		<tr>
			<td>
				<strong><%=link_to entry.title,"entry/read/#{entry.id}",:class => "title_link"%></strong>
				<br>
				
			</td>	
			<td>
				<%=print_old_date entry.created_at%>
			</td>			
		</tr>
		<%end%>
	</table>
	
</p>
